force-app/main/default/flows/Create_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Booking_Confirmation_Email</name>
        <label>Copy 1 of Send Booking Confirmation Email</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Booking_Confirmation_Email</name>
        <label>Send Booking Confirmation Email</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Created_Booking</name>
        <label>Assign Created Booking</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>createdBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Booking_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the error message to the error variable if the booking fails.</description>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Session Id</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ValidSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Session_Id.Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Booking_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalSessionId</name>
        <label>FinalSessionId</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ValidSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Booking_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_For_Session_Id</name>
        <label>Decision For Session Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Session_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Valid_Session_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sessionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isValidSessionId</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinalSessionId</targetReference>
            </connector>
            <label>Is Valid Session Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Booking_Created</name>
        <label>Is Booking Created</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Send_Booking_Confirmation_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Booking_Confirmation_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create a Booking__c record when provided the numberOfGuests, ID of the contact and ID of the Session__c</description>
    <environments>Default</environments>
    <formulas>
        <name>isValidSessionId</name>
        <dataType>Number</dataType>
        <expression>LEN({!sessionId})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a booking record for the related contact and experience session.</description>
        <name>Create_Booking_Record</name>
        <label>Create Booking Record</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Get_Booking_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Guests__c</field>
            <value>
                <elementReference>numberOfGuests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>ValidSessionId</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Booking_Record</name>
        <label>Get Booking Record</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Created_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Booking_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Experience_Name__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Session_Id</name>
        <label>Get Session Id</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_4</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>S-00004546</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Experience_Session__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_For_Session_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Id of the contact that will be used to create the related booking.</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The booking that was created.</description>
        <name>createdBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <description>The error message included if there is an error with the booking.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The number of guests that will be included in the booking.</description>
        <name>numberOfGuests</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>The Id of the session that the contact will be booked for.</description>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
